<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
  </head>
  <header>
    <% include ../partials/header %>
    <link href="/public/assets/stylesheets/rules.css" rel="stylesheet"/>
  </header>
  <body>
    <div class='container-fluid'>
      <table>
        <tr>
          <th id='oldHeader'><%- rules[0].names.old_full %></th>
          <th id='newHeader'><%- rules[0].names.new_full %></th>
        </tr>
        <% for(var i=1; i < rules.length; i++) { %>
          <tr>
          <% if(!rules[i].new) { %>
            <td class='remove'><b><%= rules[i].old.ruleNum %></b><br><%= rules[i].old.ruleText %></td>
            <td></td>
          <% } else if(!rules[i].old) { %>
            <td></td>
            <td class='add'><b><%= rules[i].new.ruleNum %></b><br><%= rules[i].new.ruleText %></td>
          <% } else { %>
            <td><b><%- rules[i].old.ruleNum %></b><br><%- rules[i].old.ruleText %></td>
            <td><b><%- rules[i].new.ruleNum %></b><br><%- rules[i].new.ruleText %></td>
          <% } %>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
