<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
  </head>

  <header>
    <% include ../partials/header %>
    <link href="/public/assets/stylesheets/supportpages.css" rel="stylesheet"/>
    <script src="/public/assets/scripts/rules.js" type="text/javascript"></script>
  </header>

  <body>
    <div class='container-fluid'>
      <div class='offset'>
        <h2><%= rule.ruleNumber %></h2>
        <p><%= rule.ruleText %></h2>
        <%if (examples.exampleText != "Example not found") { %>
          <h3>Examples</h3>
          <% example_list = examples.exampleText.replace(/Example: /g, '').split('\n') %>
          <% for (let i=0; i < example_list.length; i++) { %>
            <li><%- example_list[i] %></li>
          <% } %>
        <% } %>
        <%if (cards) { %>
          <div class="flex-image-container flex-row flex-wrap">
          <% for (let i=0; i < cards.length; i++) { %>
            <div>
              <img src="<%= cards[i].imageUri %>" class="<%= cards[i].status %> img-fluid">
            </div>
          <% } %>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
